In [1]:
import pandas as pd
import numpy as np

In [4]:
csv1 = pd.read_csv('local_temp.csv')

csv1.head(1)

   year  avg_temp  Unnamed: 2  Unnamed: 3  Unnamed: 4 Unnamed: 5
0  1840      21.0         NaN         NaN         NaN        NaN

In [6]:
csv2 = pd.read_csv('Global_data.csv')

csv2.head(1)

   year  avg_temp
0  1750      8.72

In [7]:
merged_data =  csv2.merge(csv1,on=['year'])

merged_data.head(1)

   year  avg_temp_x  avg_temp_y  Unnamed: 2  Unnamed: 3  Unnamed: 4 Unnamed: 5
0  1840         7.8        21.0         NaN         NaN         NaN        NaN

In [19]:
clean_data = merged_data.drop(merged_data.columns[3], axis=1)
clean_data = clean_data.drop(clean_data.columns[3], axis=1)

clean_data.head(1)

   year  avg_temp_x  avg_temp_y  Unnamed: 4 Unnamed: 5
0  1840         7.8        21.0         NaN        NaN

In [20]:
clean_data = clean_data.drop(clean_data.columns[3], axis=1)

clean_data.head(1)

   year  avg_temp_x  avg_temp_y Unnamed: 5
0  1840         7.8        21.0        NaN

In [21]:
clean_data = clean_data.drop(clean_data.columns[3], axis=1)

clean_data.head(1)

   year  avg_temp_x  avg_temp_y
0  1840         7.8        21.0

In [22]:
clean_data.to_csv('data_results.csv', index = False)